<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://odatawebserwis20161211071053.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>odatawebserwis20161211071053.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OdataWebSerwis20161211071053</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$OdataWebSerwis20161211071053</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OdataWebSerwisContext" Order="1" Enabled="False">
          <Destination Path="Data Source=bilodb.database.windows.net;Initial Catalog=Odataservice;Persist Security Info=True;User ID=user;Password=test123!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="OdataWebSerwis.Models.OdataWebSerwisContext, OdataWebSerwis" MigrationConfiguration="OdataWebSerwis.Migrations.Configuration, OdataWebSerwis" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OdataWebSerwisContext-Web.config Connection String">
      <ParameterValue>Data Source=bilodb.database.windows.net;Initial Catalog=Odataservice;Persist Security Info=True;User ID=user;Password=test123!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>